$title-color: #FF6060
$mobile-breakpoint: 640px

li
    list-style-type: none
.page-fiche-logement
    padding-right: 5%
    padding-left: 5%

.logement-box
    display: flex
    flex-direction: row
    justify-content: space-between  

.user-box
    display: flex
    flex-direction: column
    justify-content: space-between  
    

.details
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 50px
    .component-dropdownlist
        width: 50%  

.logement
    display: flex
    flex-direction: column
    &__title
        font-family: Montserrat
        font-size: 36px
        font-weight: 500
        letter-spacing: 0em
        text-align: left
        color: $title-color
        
    &__location
        font-family: Montserrat
        font-size: 18px
        font-weight: 500
        line-height: 26px
        letter-spacing: 0em
        text-align: left
        color: $title-color

.user
    display: flex
    flex-direction: row
    justify-content: flex-end
    &__full-name
        width: 93px
        height: 52px
        font-family: Montserrat
        font-size: 18px
        font-weight: 500
        line-height: 26px
        letter-spacing: 0em
        text-align: right
        color: $title-color
        padding-right: 15px
    &__avatar
        width: 64px
        height: 64px
        border-radius: 50%

@media screen and (max-width: $mobile-breakpoint)
    .details
        display: flex
        flex-direction: column   
        gap: 0
        .component-dropdownlist
            width: 100% 
    .logement-box
        display: flex
        flex-direction: column
        
    .user-box
        display: flex
        flex-direction: row-reverse

    .user
        display: flex
        flex-direction: row
        &__full-name
            text-align: left
    
    .menu__logo
        width: 50px
    .slider__arrow-right
        width: 20px
    .slider__arrow-left
        width: 20px
    .logement__title
        font-size: 18px
    .logement__location
        font-size: 15px