$gallery-bg-color: #F6F6F6
$mobile-breakpoint: 640px
$tablette-breakpoint: 768px
$desktop-breakpoint: 992px

.page-home
    padding-right: 5% //200px
    padding-left: 5% //200px
.gallery
    background-color: $gallery-bg-color
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    //grid-gap: 45px
    //padding: 45px
    border-radius: 25px
    margin-top: 45px
    margin-bottom: 45px
    margin-left: 0
    marging-right: 0

main
    margin-left: 0
    marging-right: 0
        
@media screen and (max-width: $mobile-breakpoint)
    .gallery
        grid-template-columns: 1fr
@media screen and (max-width: $desktop-breakpoint)  and (min-width: $mobile-breakpoint)
    .gallery
        grid-template-columns: 1fr 1fr
    
    
    

    
